Source: fru-tools
Section: devel
Priority: optional
Maintainer: EngineerZone <https://ez.analog.com/sw-interface-tools/>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/analogdevicesinc/fru_tools
Rules-Requires-Root: no

Package: fru-tools
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tools to display/manipulate FMC FRU info
 Documentation at https://wiki.analog.com/resources/tools-software/linux-software/fru_dump
